<html>
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/signalr/jquery.signalR.min.js"></script>
    <script src="Signalr/hubs"></script>
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
